@font-face {
  font-family: 'poppinsregular';
  src: url('poppins-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-weight: normal;
  font-size: 4rem;
}

h2 {
  font-size: inherit;
}

.bold {
  font-weight: bold;
}

body {
  width: min(100%, max(600px, 45vw));
  margin: 0 auto;
  padding: 20px;
  font-family: 'poppinsregular', sans-serif;
}

.section {
  cursor: pointer;
  border: 2px dashed rgb(50, 50, 50);
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  background-color: white;
  transition: 0.5s background-color ease;
}

.section:hover:not(.edit),
.section:focus:not(.edit) {
  background-color: rgb(218, 222, 243);
  outline: none;
}

.edit {
  display: flex;
  flex-direction: column;
  cursor: auto;
  gap: 20px;
  padding: 20px;
}

.name {
  text-align: center;
}

ul {
  display: flex;
  gap: 10px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  font-size: 1.8rem;
  color: rgb(20, 20, 20);
}

label,
.section-title {
  border-radius: 5px;
  text-align: left;
  background-color: rgb(99, 68, 139);
  color: white;
  padding: 3px 5px;
  font-weight: bold;
  font-size: 1.8rem;
  transform: skew(-10deg) translateX(3px);
}

.section-title {
  background-color: rgb(15, 15, 15);
  margin-bottom: 10px;
  width: 100%;
}

fieldset {
  border: none;
  padding: 0;
}

label > div,
.section-title > div {
  transform: skew(10deg) translateX(3px);
}

input {
  padding: 11px 5px 11px 11px;
  border: none;
  background-color: rgb(218, 222, 243);
  border-radius: 5px;
}

.done-btn {
  width: fit-content;
  align-self: flex-end;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid rgb(0, 0, 0, 0);
  border-radius: 5px;
  background-color: rgb(44, 44, 44);
  box-shadow: 3px 3px 4px rgb(105, 105, 105);
  padding: 10px 20px 8px;
  transition: 0.3s background-color ease;
  color: white;
}

.done-btn:focus {
  outline: none;
  border: 2px solid rgb(0, 0, 0);
}

.done-btn:hover {
  background-color: rgb(32, 32, 32);
}
